/*

DART 450, Winter 2018
Title of project
Author

Some description of the CSS styling

*/

body {
  background-color: #2D3047;
  font-family: 'Space Mono', monospace;
  font-size: 3em;
  color: #3E885B;
}

span {
  color: #EF8354;
}

#run {
  font-family: 'Space Mono', monospace;
  color: #3E885B;
}

#block1 {

}

#block2 {

}

#block3 {

}

#block4 {

}

#block5 {

}

#block6 {

}

#block7 {
  color: #F02D3A;
}
